
/* Carousel.css */
.carousel-container {
  max-width: 100%;
  margin: auto;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}

.carousel-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
}




.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem; /* 16px */
  width: 100%;
  height: auto; /* Ensure height adjusts based on content */
}

.carousel-inner {
  border-radius: 1rem; /* 16px */
}

.carousel-item img {
  object-fit: contain; /* Ensures the full image is visible */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
  opacity: 0.8;
}

.carousel-icon {
  color: #525050;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.75rem; /* 12px */
  transition: all 0.3s ease;
}

.carousel-control-prev:hover .carousel-icon, .carousel-control-next:hover .carousel-icon {
  background-color: #fff;
}

.carousel-indicators {
  bottom: 1.25rem; /* 20px */
}

.carousel-indicators li {
  width: 0.75rem; /* 12px */
  height: 0.75rem; /* 12px */
  border-radius: 50%;
  margin: 0 0.3125rem; /* 5px */
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: #ffffff;
  transform: scale(1.2);
}

@media (max-width: 48rem) { /* 768px */
  .carousel-item img {
    height: 15rem; /* Adjust height for smaller screens */
  }

  .carousel-icon {
    padding: 0.5rem; /* 8px */
  }

  .carousel-indicators {
    bottom: 0.625rem; /* 10px */
  }

  .carousel-indicators li {
    width: 0.5rem; /* 8px */
    height: 0.5rem; /* 8px */
  }
}

@media (max-width: 30rem) { /* 480px */
  .carousel-item img {
    height: 10rem; /* Further adjust for very small screens */
  }
}

@media (max-width: 48rem) { /* Hide controls on mobile */
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}